.button{
    display: block;
    width: 100%;
    min-height: 70px;
    overflow: hidden;
    color: #f2f2f2;
    position: relative;
    background: #00909c;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
    transition: background-color 0.5s linear;
}

.block-btn .text {
    text-align: center;
    margin: 40px auto;
    opacity: 1;
    visibility: visible;
    transition: transform 0.4s cubic-bezier(0.425, -0.195, 0.005, 1.215), opacity 0.13333s linear;
    transform: scale(1);
}

.block-btn .icon, .block-btn .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}   

.column {
    float: left;
    width: 50%;
    padding-top: 150px;
    padding-left: 50px;
    margin-bottom: 23px;
}


.social-column {
    float: left;
    width: 50%;
    padding-top: 150px;
    padding-left: 185px;
}

.block-btn .icon, .block-btn .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.block-btn .icon {
    width: 30%;
    margin: 25px auto;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.4s cubic-bezier(0.425, -0.195, 0.005, 1.215), opacity 0.4s linear;
    transform: translate3D(0, -4em, 0) scale(0);
}

.section .overlay-wrapper, .sections .overlay-wrapper {
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61) );
    width: 100%;
    height: 100%;
}
*, :after, :before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section .overlay-wrapper .divider, .section .section-wrapper .divider, .sections .overlay-wrapper .divider {
    display: block;
    margin: 30px 0;
    width: 100px;
    height: 2px;
    background-color: #00b7c7;
}
.social-column {
    float: left;
    width:28%;
    padding-top: 150px;
    padding-left: 185px;
}

.socials-col1 {
    float: left;
    width: 48%;
    overflow: hidden;
}

.socials-col2 {
    float: left;
    width: 48%;
    overflow: hidden;
}

#intro-section .intro-wrapper .intro-body .intro-content .action-wrapper .subtext .btn {
    display: inline-block;
    padding: 1.2em 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    color: #f2f2f2;
    text-transform: uppercase;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    opacity: 1;
    margin: 0;
}

.section .overlay-wrapper h1, .section .section-wrapper h1, .sections .overlay-wrapper h1 {
    font-size: 3em;
}


hr.rounded {
    border-top: 5px solid rgb(10, 154, 221);
    border-radius: 5px;
    width:32%;
  }
  
hr.rounded1 {
    border-top: 3px solid rgb(10, 138, 212);
    border-radius: 5px;
    width:90%;
} 