.block-btn {
    display: block;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    color: #f2f2f2;
    position: relative;
    background: #00909c;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
    transition: background-color 0.5s linear;
}

.block-btn .text {
    margin: 40px auto;
    opacity: 1;
    visibility: visible;
    transition: transform 0.4s cubic-bezier(0.425, -0.195, 0.005, 1.215), opacity 0.13333s linear;
    transform: scale(1);
}

.block-btn .icon, .block-btn .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}   